$whitebg :#fff;
$bluebg:#0057FF;
$graybg:#F5F5F5;
$mainColor:#171717;
$subTitleText :#212121;
$primaryTextColor:#666;
$secondaryTextColor:#3395D2;
$borderColor:#D6D6D6;
$btnPrimary:#01203F;
$btnPrimaryHover:#3395D2;