footer {
    padding: 100px 0 40px 0;
    .topFooter {
        border-bottom: 1px solid $borderColor;
        padding-bottom: 40px;
        .footerCard {
            padding: 0 10px 0 16px;
            @media screen and (max-width: 410px) {
                padding: 0;
            }
            .titleFooter {
                color: $mainColor;
                font-size: 17.952px;
                margin-bottom: 24px;
                font-weight: normal;
                font-family: 'Inter-Bold';
                @media screen and (max-width: 410px) {
                    font-size: 16px;
                }
            }
            .subTitle {
                color: $mainColor;
                font-size: 16px;
                padding-right: 5%;
                font-family: 'Inter-SemiBold';
                @media screen and (max-width: 410px) {
                    font-size: 15px;
                    padding-right: 1%;
                }
            }
            ul {
                li {
                    margin-bottom: 24px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    @media screen and (max-width: 991px) {
                        &:last-child {
                            margin-bottom: 24px;
                        }
                    }
                    a {
                        position: relative;
                        color: $mainColor;
                        font-size: 16px;
                        line-height: 28.22px;
                        font-family: 'Inter-SemiBold';
                        &::after {
                            position: absolute;
                            content: "";
                            width: 100%;
                            background-color: $mainColor;
                            bottom: 1px;
                            height: 1px;
                            left: 0;
                            opacity: 0;
                            @include prefix(transition, all 0.8s ease-out, webkit moz);
                        }
                        &:hover::after {
                            opacity: 1;
                        }
                        @media screen and (max-width: 410px) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .bottomFooter {
        padding-top: 40px;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 410px) {
                display: block;
            }
            li {
                font-size: 14px;
                line-height: 21px;
                font-style: normal;
                margin-right: 24px;
                font-family: 'Inter-SemiBold';
                &:first-child {
                    margin-right: 32px;
                }
                &:last-child {
                    margin-right: 0px;
                }
                @media screen and (max-width: 410px) {
                    margin-bottom: 13px;
                    margin-right: 0 !important;
                }
                a {
                    font-size: 14px;
                    line-height: 21px;
                    color: $mainColor;
                    position: relative;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        background-color: $mainColor;
                        bottom: -1.5px;
                        height: 1px;
                        left: 0;
                    }
                }
            }
        }
    }
}